// text
.text-white{color: $clr-white;}
.text-black{color: $clr-black;}
.text-nero{color: $clr-nero;}
.text-bright-gray{color: $clr-bright-gray;}
.text-grey{color: $clr-grey;}
.text-blue{color: $clr-blue;}
.text-nobel{color: $clr-nobel;}

// backgrounds
.bg-white{background-color: $clr-white;}
.bg-black{background-color: $clr-black;}
.bg-nero{background-color: $clr-nero;}
.bg-bright-gray{background-color: $clr-bright-gray;}
.bg-grey{background-color: $clr-grey;}

// font weights
.fw-2{font-weight: 200;}
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-7{font-weight: 700;}
.fw-8{font-weight: 800;}

// letter spacing
.ls-1{letter-spacing: 1px;}
.ls-2{letter-spacing: 2px;}

// font sizes
.fs-10{font-size: 10px;}
.fs-11{font-size: 11px;}
.fs-12{font-size: 12px;}
.fs-13{font-size: 13px;}
.fs-14{font-size: 14px;}
.fs-15{font-size: 15px;}
.fs-16{font-size: 16px;}
.fs-17{font-size: 17px;}
.fs-18{font-size: 18px;}
.fs-19{font-size: 19px;}
.fs-20{font-size: 20px;}
.fs-21{font-size: 21px;}
.fs-22{font-size: 22px;}
.fs-23{font-size: 23px;}
.fs-24{font-size: 24px;}
.fs-32{font-size: 32px;}
.fs-36{font-size: 36px;}
.fs-40{font-size: 40px;}
.fs-48{font-size: 48px;}

// image
.img-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

// opacity
.op-09{opacity: 0.9;}
.op-08{opacity: 0.8;}
.op-07{opacity: 0.7;}
.op-06{opacity: 0.6;}
.op-05{opacity: 0.5;}
.op-04{opacity: 0.4;}
.op-03{opacity: 0.3;}
.op-02{opacity: 0.2;}
.op-01{opacity: 0.1;}

// no wrap 
.no-wrap{
    white-space: nowrap;
}

// line height
.lh-30{line-height: 30px;}
.lh-21{line-height: 21px;}
.lh-36{line-height: 36px;}

.color-filled-txt{
    background: linear-gradient(to right, #bbc4cd, #506182);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.045em;
}