@mixin transition-ease{
    transition: all 300ms ease-in-out;
}

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-center-inline{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-jc-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin size($width, $height: $width){
    width: $width;
    height: $height;
}

// breakpoints
$breakpoints-up: (
    "xs": "480px",
    "sm": "576px", 
    "md": "768px", 
    "lg": "992px", 
    "xl": "1200px", 
    "xxl": "1400px"
);

$breakpoints-down: (
    "xs": "480px",
    "sm": "575.99px", 
    "md": "767.99px", 
    "lg": "991px", 
    "xl": "1199.99px", 
    "xxl": "1399.99px"
);

@mixin breakpoint-up($size){
    @media(min-width: map-get($breakpoints-up, $size)){
        @content;
    }
}

@mixin breakpoint-down($size){
    @media(max-width: map-get($breakpoints-down, $size)){
        @content;
    }
}

@mixin border-circle{
    border-radius: 50%;
}

@mixin font-size($size){
    font-size: calcRem($size);
}

@mixin fw-calc-sub($arg){
    width: calc(100% - #{$arg});
}

@mixin fw-calc-add($arg){
    width: calc(100% + #{$arg});
}

@mixin fmh-calc-sub($arg){
    min-height: calc(100vh - #{$arg});
}

@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin abs-pos($top: auto, $right: auto, $bottom: auto, $left: auto){
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    position: absolute;
}

@mixin border-radius($radius){
    border-radius: $radius;
}

@mixin opacity($opValue){
    opacity: $opValue;
}

@mixin bgColor($bgValue){
    background-color: $bgValue;
}

@mixin transparent{
    background-color: transparent;
}