$clr-white: #fff;
$clr-black: #000;
$clr-nero: #181717;
$clr-bright-gray: #eaeaea;
$clr-grey: #a8a799;
$clr-blue: #0063B2;
$clr-nobel: #a2a2a2;
$base-font-family: "Poppins", sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
