.btn{
    text-transform: capitalize;
}
.btn-primary{
    @include font-size(16px);
    font-weight: 300;
    background-color: transparent!important;
    border: border($clr-bright-gray);
    min-width: 191px;
    height: 51px;
    text-align: center;
    @include flex-center-inline;
    @include transition-ease;

    &:hover{
        background-color: $clr-white!important;
        border-color: $clr-nero;
        color: $clr-nero;
    }
}
.btn-secondary{
    @include font-size(16px);
    background-color: $clr-white;
    color: $clr-nero;
    @include flex-center-inline;
    @include transition-ease;
    .lord-icon{
        @include transition-ease;
    }
    &:hover{
        background-color: $clr-nero!important;
        border-color: $clr-white;
        .lord-icon{
            filter: invert(100%);
        }
    }
}