.sw-card{
    border: border($clr-grey);
    @include border-radius(10px);
    overflow: hidden;
    @include transition-ease;

    .sw-card-title{
        font-size: 32px;
        @include breakpoint-down(sm){
            font-size: 24px;
        }

        @include breakpoint-down(xs){
            font-size: 18px;
        }

        h6{
            font-size: 32px;
            @include breakpoint-down(sm){
                font-size: 24px;
            }
            @include breakpoint-down(xs){
                font-size: 18px;
            }
        }
    }

    .sw-card-body{
        padding: 16px 32px;
        .sw-card-p{
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            color: $clr-bright-gray;
        }
    }

    &:hover{
        box-shadow: rgba(255, 255, 255, 0.1) 0px 2px 8px 0px;
    }

    &-btn{
        height: 34px;
        min-width: 112px;
        font-size: 14px;
        font-weight: 300;
    }
}

.sw-card-wide{
    border: border($clr-grey);
    @include border-radius(6px);
    overflow: hidden;
    padding: 30px 14px;

    .sw-card-title{
        font-size: 32px;
        @include breakpoint-down(sm){
            font-size: 20px;
        }

        @include breakpoint-down(xs){
            font-size: 18px;
        }
    }

    @include breakpoint-up(lg){
        padding: 61px 40px;
        .sw-card-l{
            padding-right: 21.5px;
        }
        .sw-card-r{
            padding-left: 21.5px;
        }
    }

    
    
}