.sc-title{
    h3{
        font-weight: 500;
        font-size: 32px!important;
        letter-spacing: 0.045em;
        margin: 0!important;
        color: $clr-bright-gray;
        padding: 20px 0;

        @include breakpoint-up(lg){
            padding: 40px 0;
        }

        @include breakpoint-down(sm){
            font-size: 24px!important;
        }
    }

    &-link{
        @include transition-ease;
        position: relative;

        &::after{
            position: absolute;
            content: "";
            top: 80%;
            left: 0;
            height: 1px;
            width: 0;
            background: $clr-white;
            @include transition-ease;
        }
        &:hover{
            @include opacity(0.7);

            &::after{
                width: 100%;
            }
        }
    }

    .input-group{
        height: 52px;
        .input-group-text{
            @include transparent;
            border-right: none!important;
        }
        .form-control{
            @include transparent;
            border-left: none!important;
            color: $clr-white;
            &::placeholder{
                color: $clr-white;
            }
        }
    }
}