@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  background-color: #0c0b0b;
}

*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
  transition: all 300ms ease-in-out;
}

a:focus {
  color: unset;
}

a:hover {
  color: unset;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
  outline: 0;
}

h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}

textarea {
  resize: none;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

ul {
  margin: 0 !important;
  padding: 0;
}

.form-control:focus {
  box-shadow: none;
}

.btn {
  border-radius: 0 !important;
}

.container {
  max-width: 1360px !important;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 767.99px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 30px !important;
  }
  p {
    font-size: 19px !important;
  }
}

@media (max-width: 575.99px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 24px !important;
  }
  p {
    font-size: 17px !important;
  }
}

@media (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 18px !important;
  }
  p {
    font-size: 15px !important;
  }
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-nero {
  color: #181717;
}

.text-bright-gray {
  color: #eaeaea;
}

.text-grey {
  color: #a8a799;
}

.text-blue {
  color: #0063B2;
}

.text-nobel {
  color: #a2a2a2;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.bg-nero {
  background-color: #181717;
}

.bg-bright-gray {
  background-color: #eaeaea;
}

.bg-grey {
  background-color: #a8a799;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-23 {
  font-size: 23px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-36 {
  font-size: 36px;
}

.fs-40 {
  font-size: 40px;
}

.fs-48 {
  font-size: 48px;
}

.img-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.op-09 {
  opacity: 0.9;
}

.op-08 {
  opacity: 0.8;
}

.op-07 {
  opacity: 0.7;
}

.op-06 {
  opacity: 0.6;
}

.op-05 {
  opacity: 0.5;
}

.op-04 {
  opacity: 0.4;
}

.op-03 {
  opacity: 0.3;
}

.op-02 {
  opacity: 0.2;
}

.op-01 {
  opacity: 0.1;
}

.no-wrap {
  white-space: nowrap;
}

.lh-30 {
  line-height: 30px;
}

.lh-21 {
  line-height: 21px;
}

.lh-36 {
  line-height: 36px;
}

.color-filled-txt {
  background: linear-gradient(to right, #bbc4cd, #506182);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.045em;
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-60px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-35px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-20px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-bottom {
  0% {
    transform: translateY(60px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(35px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(20px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

.btn {
  text-transform: capitalize;
}

.btn-primary {
  font-size: 1rem;
  font-weight: 300;
  background-color: transparent !important;
  border: 1px solid #eaeaea;
  min-width: 191px;
  height: 51px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}

.btn-primary:hover {
  background-color: #fff !important;
  border-color: #181717;
  color: #181717;
}

.btn-secondary {
  font-size: 1rem;
  background-color: #fff;
  color: #181717;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}

.btn-secondary .lord-icon {
  transition: all 300ms ease-in-out;
}

.btn-secondary:hover {
  background-color: #181717 !important;
  border-color: #fff;
}

.btn-secondary:hover .lord-icon {
  filter: invert(100%);
}

.sw-card {
  border: 1px solid #a8a799;
  border-radius: 10px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.sw-card .sw-card-title {
  font-size: 32px;
}

@media (max-width: 575.99px) {
  .sw-card .sw-card-title {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .sw-card .sw-card-title {
    font-size: 18px;
  }
}

.sw-card .sw-card-title h6 {
  font-size: 32px;
}

@media (max-width: 575.99px) {
  .sw-card .sw-card-title h6 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .sw-card .sw-card-title h6 {
    font-size: 18px;
  }
}

.sw-card .sw-card-body {
  padding: 16px 32px;
}

.sw-card .sw-card-body .sw-card-p {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #eaeaea;
}

.sw-card:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 2px 8px 0px;
}

.sw-card-btn {
  height: 34px;
  min-width: 112px;
  font-size: 14px;
  font-weight: 300;
}

.sw-card-wide {
  border: 1px solid #a8a799;
  border-radius: 6px;
  overflow: hidden;
  padding: 30px 14px;
}

.sw-card-wide .sw-card-title {
  font-size: 32px;
}

@media (max-width: 575.99px) {
  .sw-card-wide .sw-card-title {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .sw-card-wide .sw-card-title {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .sw-card-wide {
    padding: 61px 40px;
  }
  .sw-card-wide .sw-card-l {
    padding-right: 21.5px;
  }
  .sw-card-wide .sw-card-r {
    padding-left: 21.5px;
  }
}

.sc-title h3 {
  font-weight: 500;
  font-size: 32px !important;
  letter-spacing: 0.045em;
  margin: 0 !important;
  color: #eaeaea;
  padding: 20px 0;
}

@media (min-width: 992px) {
  .sc-title h3 {
    padding: 40px 0;
  }
}

@media (max-width: 575.99px) {
  .sc-title h3 {
    font-size: 24px !important;
  }
}

.sc-title-link {
  transition: all 300ms ease-in-out;
  position: relative;
}

.sc-title-link::after {
  position: absolute;
  content: "";
  top: 80%;
  left: 0;
  height: 1px;
  width: 0;
  background: #fff;
  transition: all 300ms ease-in-out;
}

.sc-title-link:hover {
  opacity: 0.7;
}

.sc-title-link:hover::after {
  width: 100%;
}

.sc-title .input-group {
  height: 52px;
}

.sc-title .input-group .input-group-text {
  background-color: transparent;
  border-right: none !important;
}

.sc-title .input-group .form-control {
  background-color: transparent;
  border-left: none !important;
  color: #fff;
}

.sc-title .input-group .form-control::placeholder {
  color: #fff;
}

.header {
  min-height: 100vh;
}

.header .header-content {
  min-height: calc(100vh - 120px);
}

.header .header-content .header-title {
  margin-top: 0;
}

.header .header-content .header-title-text {
  margin-left: 25px;
}

.header .header-content .header-title-img {
  max-width: 382px;
}

@media (max-width: 575.99px) {
  .header .header-content .header-title-img {
    width: 200px;
  }
}

.header .header-content .text-before-h-title {
  letter-spacing: 0.09em;
  margin-top: 6px;
}

.header .header-content .text-after-h-title {
  letter-spacing: 0.065em;
}

.header .header-content .header-btn {
  margin-top: 28px;
}

.header .header-content .header-list {
  margin-top: 22px !important;
}

.header .header-content .header-list li {
  line-height: 24px;
  margin-bottom: 6px;
}

.header .header-content .header-r img {
  max-width: 640px;
}

.navbar {
  min-height: 120px;
}

.navbar .navbar-toggler-icon {
  filter: invert(100%);
}

.navbar .navbar-collapse .navbar-nav .nav-item {
  margin-right: 24px;
}

.navbar .navbar-collapse .navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  font-size: 1.0625rem;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  opacity: 0.9;
}

.navbar .navbar-collapse .navbar-btns .navbar-btn.btn-secondary {
  min-width: 112px;
  height: 44px;
  border-radius: 0 !important;
}

.navbar .navbar-collapse .navbar-btns .navbar-btn.btn-secondary .btn-text {
  margin-left: 12px;
}

@media (max-width: 991px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .navbar .navbar-collapse .navbar-nav {
    padding-top: 20px;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item {
    text-align: center !important;
    margin-right: 0 !important;
  }
  .navbar .navbar-collapse .navbar-nav .nav-link {
    color: #181717 !important;
    padding: 12px 0;
  }
  .navbar .navbar-collapse .navbar-nav .nav-link:hover {
    transform: scale(1.1);
  }
  .navbar .navbar-collapse .navbar-btns {
    padding: 16px 0 40px 0;
    display: flex;
    justify-content: center;
  }
}

.ftr {
  padding-top: 24px;
  margin-top: 40px;
}

.ftr .social-links ul li {
  margin-right: 6px;
}

.ftr .nav-links a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.ftr .ftr-content .ftr-item {
  margin-bottom: 36px;
}

.ftr .ftr-text {
  padding: 18px 0;
  border-top: 1px solid #fff;
}

.container {
  margin-right: auto !important;
  margin-left: auto !important;
}

.explore-slider {
  position: relative;
}

.explore-slider .owl-dots {
  margin-top: 48px;
}

.explore-slider .owl-dots .owl-dot button {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8125rem;
  margin: 0 3px;
}

.explore-slider .owl-dots .owl-dot.active button {
  background-color: #181717 !important;
  color: #fff;
}

.explore-slider .owl-nav .owl-prev {
  position: absolute;
  left: calc(50% - 100px);
  bottom: -8px;
  border-radius: 50%;
}

.explore-slider .owl-nav .owl-prev span {
  background-color: #fff;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 30px;
  padding-bottom: 3px;
  color: #181717;
}

.explore-slider .owl-nav .owl-prev span:hover {
  border-radius: 50%;
  color: #181717;
}

.explore-slider .owl-nav .owl-next {
  position: absolute;
  right: calc(50% - 100px);
  bottom: -8px;
  border-radius: 50%;
}

.explore-slider .owl-nav .owl-next span {
  background-color: #fff;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 30px;
  padding-bottom: 3px;
  color: #181717;
}

.explore-slider .owl-nav .owl-next span:hover {
  border-radius: 50%;
  color: #181717;
}

.header-slider .owl-dots .owl-dot span {
  width: 100px;
}

body {
  overflow-x: hidden !important;
}

.product-sc .product-sc-content .sw-cards .sw-card {
  margin-bottom: 40px;
}

.product-sc .product-sc-content .sw-cards .sw-card:hover {
  transform: scale(1.04);
}

@media (min-width: 992px) {
  .product-sc .product-sc-content .sw-cards > div:nth-child(odd) {
    padding-right: 20px;
  }
  .product-sc .product-sc-content .sw-cards > div:nth-child(even) {
    padding-left: 20px;
  }
}

.explore-sc {
  margin-bottom: 44px;
}

.sw-pg-product .header-title {
  animation: bounce-in-top 1s linear;
}

.sw-pg-product .header-p {
  line-height: 24px;
  letter-spacing: 0.12em;
  animation: bounce-in-bottom 1s linear;
}

@media (min-width: 992px) {
  .sw-pg-product .category-sc .sc-title .input-group {
    width: 397px;
  }
}

.sw-pg-product .category-sc .category-sc-content .category-btns {
  margin-bottom: 40px;
}

@media (max-width: 575.99px) {
  .sw-pg-product .category-sc .category-sc-content .category-btns {
    margin-bottom: 20px;
  }
}

.sw-pg-product .category-sc .category-sc-content .category-btns .category-btn {
  margin-top: 5px;
  margin-bottom: 16px;
  border-radius: 20px;
  height: 38px;
  padding: 0 22px;
  font-size: 1.125rem;
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  border-width: 1px !important;
  transition: all 300ms ease-in-out;
}

@media (max-width: 575.99px) {
  .sw-pg-product .category-sc .category-sc-content .category-btns .category-btn {
    font-size: 18px !important;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .sw-pg-product .category-sc .category-sc-content .category-btns .category-btn {
    font-size: 16px !important;
    padding: 0 14px;
  }
}

@media (min-width: 1200px) {
  .sw-pg-product .category-sc .category-sc-content .category-btns .category-btn {
    margin-right: 20px;
  }
}

.sw-pg-product .category-sc .category-sc-content .category-btns .category-btn:hover {
  background-color: #fff;
  color: #181717;
}

.sw-pg-product .category-sc .category-sc-content .category-btns .category-btn-active {
  background-color: #fff;
  color: #181717;
}

.sw-pg-product .category-sc .category-sc-content .sw-cards .sw-card {
  margin-bottom: 40px;
}

.sw-pg-product .category-sc .category-sc-content .sw-cards .sw-card .sw-card-img {
  padding-top: 50px;
  padding-bottom: 90px;
}

.sw-pg-product .category-sc .category-sc-content .sw-cards .sw-card .sw-card-img img {
  width: auto;
  max-height: 248px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 575.99px) {
  .sw-pg-product .category-sc .category-sc-content .sw-cards .sw-card .sw-card-img {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.sw-pg-product .category-sc .category-sc-content .sw-cards .sw-card .sw-card-btn {
  margin-bottom: 34px;
}

.sw-pg-product .category-sc .category-sc-content .sw-cards .sw-card:hover {
  transform: scale(1.02);
}

.preview-thumbnails-wrapper::-webkit-scrollbar {
  height: 8px;
  background-color: #eaeaea;
  border-radius: 8px;
}

.preview-thumbnails-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.preview-thumbnails-wrapper::-webkit-scrollbar-thumb {
  background-color: #383838;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.sw-pg-product-details .product-details-wrapper .details-l .product-preview .preview-zoom {
  padding: 12px;
}

.sw-pg-product-details .product-details-wrapper .details-l .product-preview .preview-zoom img {
  margin-right: auto;
  margin-left: auto;
}

.sw-pg-product-details .product-details-wrapper .details-l .product-preview .preview-thumbnails-wrapper {
  overflow-x: scroll;
  padding-bottom: 10px;
}

.sw-pg-product-details .product-details-wrapper .details-l .product-preview .preview-thumbnails-wrapper .preview-thumbnails {
  width: 100% !important;
}

.sw-pg-product-details .product-details-wrapper .details-l .product-preview .preview-thumbnails-wrapper .preview-thumbnails .thumbnail-item {
  min-width: 100px !important;
  width: 100px;
  height: 100px;
  margin: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border-radius: 2px;
}

.sw-pg-product-details .product-details-wrapper .details-l .product-preview .preview-thumbnails-wrapper .preview-thumbnails .thumbnail-item:hover {
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.6);
}

@media (min-width: 1400px) {
  .sw-pg-product-details .product-details-wrapper .details-l .product-preview {
    display: grid;
    grid-template-columns: 140px auto;
    align-items: center;
  }
  .sw-pg-product-details .product-details-wrapper .details-l .product-preview .preview-zoom {
    order: 2;
  }
  .sw-pg-product-details .product-details-wrapper .details-l .product-preview .preview-thumbnails-wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 500px;
  }
  .sw-pg-product-details .product-details-wrapper .details-l .product-preview .preview-thumbnails-wrapper::-webkit-scrollbar {
    width: 8px;
  }
}

.sw-pg-product-details .product-details-wrapper .details-r .mid-line {
  height: 25px;
  width: 1px;
  background-color: #fff;
  margin: 0 23px;
}

.sw-pg-product-details .product-details-wrapper .details-r .rating-stars li {
  margin-right: 3px;
}

.sw-pg-product-details .product-details-wrapper .details-r .details-info .pro-name {
  font-size: 40px;
  line-height: 46px;
}

.sw-pg-product-details .product-details-wrapper .details-r .details-info .pro-subtext {
  font-size: 16px;
  letter-spacing: 0.045em;
}

.sw-pg-product-details .product-details-wrapper .details-r .details-info .pro-descrp .descrp-text {
  line-height: 24px;
  letter-spacing: 0.045em;
  margin-bottom: 6px;
}

.sw-pg-product-details .product-details-wrapper .details-r .details-info .pro-shop-btn .shop-btn {
  margin-top: 27px;
  height: 44px;
}

.sw-pg-product-details .product-details-wrapper .details-r .details-info .pro-variant-btns .variant-btn {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  height: 32px;
  margin-right: 12px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 20px;
  transition: all 300ms ease-in-out;
}

.sw-pg-product-details .product-details-wrapper .details-r .details-info .pro-variant-btns .variant-btn:hover {
  background-color: #fff;
  color: #181717;
}

.sticky-sc-content .sticky-tab-heads-wrapper {
  min-height: 72px;
}

.sticky-sc-content .sticky-tab-heads-wrapper .sticky-tab-heads .sticky-tab-head {
  margin: 0 40px;
  text-align: center;
  background-color: transparent;
  border: none;
  letter-spacing: 0.045em;
}

.sticky-sc-content .sticky-tab-heads-wrapper .sticky-tab-heads .sticky-tab-head:hover {
  opacity: 0.9;
}

.sticky-sc-content .sticky-tab-body-wrapper .sticky-tab-title {
  text-align: center;
}

.sticky-sc-content .sticky-tab-body-wrapper .sticky-tab-title h4 {
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
}

.sticky-sc-content .sticky-tab-body-wrapper .sticky-tab-title p {
  font-weight: 400;
  font-size: 20px;
  font-family: Poppins;
  letter-spacing: 0.045em;
}

.sticky-sc-content .sticky-tab-body-wrapper .sticky-tab-txt {
  padding: 32px 0 !important;
}

.sticky-sc-content .stk-tab-1 .sticky-tab-block:nth-child(2) {
  padding: 45px 0 100px 0;
}

@media (max-width: 767.99px) {
  .sticky-sc-content .stk-tab-1 .sticky-tab-block:nth-child(2) {
    padding: 30px 0 50px 0;
  }
}

.sticky-sc-content .stk-tab-1 .sticky-tab-block:nth-child(2) .color-filled-txt {
  line-height: 1.2 !important;
}

@media (max-width: 575.99px) {
  .sticky-sc-content .stk-tab-1 .sticky-tab-block:nth-child(2) .color-filled-txt {
    font-size: 30px;
  }
}

.sticky-sc-content .stk-tab-1 .stk-info-list {
  padding: 32px 0;
}

.sticky-sc-content .stk-tab-1 .stk-info-list .stk-info-itm {
  margin-bottom: 42px;
}

@media (max-width: 767.99px) {
  .sticky-sc-content .stk-tab-1 .stk-info-list .stk-info-itm {
    padding-bottom: 14px;
    margin-bottom: 20px;
  }
}

@media (max-width: 575.99px) {
  .sticky-sc-content .stk-tab-1 .stk-info-list .stk-info-itm {
    padding-bottom: 8px;
    margin-bottom: 12px;
  }
}

@media (max-width: 767.99px) {
  .sticky-sc-content .stk-tab-1 .stk-info-list .stk-info-itm span {
    font-size: 19px;
  }
}

@media (max-width: 575.99px) {
  .sticky-sc-content .stk-tab-1 .stk-info-list .stk-info-itm span {
    font-size: 16px;
  }
}

.sticky-sc-content .stk-tab-1 .stk-info-list .stk-info-itm .stk-info-itm-top {
  padding-bottom: 6px;
}

.sticky-sc-content .stk-tab-1 .stk-info-list .stk-info-itm .stk-info-itm-btm {
  border-top: 1px solid #fff;
  padding-top: 12px;
}

@media (max-width: 575.99px) {
  .sticky-sc-content .stk-tab-1 .stk-info-list .stk-info-itm .stk-info-itm-btm {
    padding-top: 8px;
  }
}

@media (max-width: 767.99px) {
  .sticky-sc-content .stk-tab-2 .sticky-tab-block-title {
    font-size: 32px;
  }
}

@media (max-width: 575.99px) {
  .sticky-sc-content .stk-tab-2 .sticky-tab-block-title {
    font-size: 22px;
  }
}

.sticky-sc-content .stk-tab-2 .stk-info-list .stk-info-itm {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 16px;
  margin-bottom: 24px;
}

@media (max-width: 767.99px) {
  .sticky-sc-content .stk-tab-2 .stk-info-list .stk-info-itm {
    padding-bottom: 14px;
    margin-bottom: 20px;
  }
}

@media (max-width: 575.99px) {
  .sticky-sc-content .stk-tab-2 .stk-info-list .stk-info-itm {
    padding-bottom: 8px;
    margin-bottom: 12px;
  }
}

@media (max-width: 767.99px) {
  .sticky-sc-content .stk-tab-2 .stk-info-list .stk-info-itm span {
    font-size: 19px;
  }
}

@media (max-width: 575.99px) {
  .sticky-sc-content .stk-tab-2 .stk-info-list .stk-info-itm span {
    font-size: 16px;
  }
}

.sticky-sc-content .stk-tab-2 .remarks-list li {
  font-size: 20px;
  font-weight: 500;
  color: #858585;
  margin-bottom: 16px;
}

@media (max-width: 767.99px) {
  .sticky-sc-content .stk-tab-2 .remarks-list li {
    font-size: 18px;
  }
}

@media (max-width: 575.99px) {
  .sticky-sc-content .stk-tab-2 .remarks-list li {
    font-size: 16px;
  }
}

.sticky-sc-content .stk-tab-3 .location-map iframe {
  width: 100%;
  max-width: 1096px;
  min-height: 575px;
  border-radius: 8px;
}

.sticky-sc-content .stk-tab-3 .sticky-tab-btns .sticky-tab-btn {
  height: 62px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #EAEAEA;
}

.sticky-sc-content .stk-tab-3 .sticky-tab-btns .sticky-tab-btn .sticky-tab-btn-txt {
  transition: all 300ms ease-in-out;
}

@media (max-width: 575.99px) {
  .sticky-sc-content .stk-tab-3 .sticky-tab-btns .sticky-tab-btn .sticky-tab-btn-icon {
    width: 24px;
  }
}

@media (max-width: 767.99px) {
  .sticky-sc-content .stk-tab-3 .sticky-tab-btns .sticky-tab-btn .sticky-tab-btn-txt {
    font-size: 19px;
  }
}

@media (max-width: 575.99px) {
  .sticky-sc-content .stk-tab-3 .sticky-tab-btns .sticky-tab-btn .sticky-tab-btn-txt {
    font-size: 17px;
  }
}

.sticky-sc-content .stk-tab-3 .sticky-tab-btns .sticky-tab-btn.btn-secondary:hover .sticky-tab-btn-txt {
  color: #fff !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.sw-pg-blog .header {
  min-height: auto;
}

.sw-pg-blog .blog-hero-wrapper .blog-hero .bh-itm-title {
  letter-spacing: 0.04em;
  line-height: 1.3;
}

.sw-pg-blog .blog-sc .sw-cards .sw-card {
  margin-bottom: 40px;
}

.sw-pg-blog .blog-sc .sw-cards .sw-card .sw-card-img img {
  width: 100%;
  min-height: 277px;
  max-height: auto;
}

.sw-pg-blog .blog-sc .sw-cards .sw-card .sw-card-body {
  padding: 24px 27px;
}

.sw-pg-blog .blog-sc .sw-cards .sw-card .sw-card-body .sw-card-title {
  font-size: 24px !important;
  line-height: 1.3;
  margin: 12px 0;
}

.sw-pg-blog .blog-sc .sw-cards .sw-card .sw-card-btn {
  margin-bottom: 34px;
}

.sw-pg-blog .blog-sc .sw-cards .sw-card:hover {
  transform: scale(1.02);
}

.sw-pg-blog-details .header {
  min-height: auto;
}

.sw-pg-blog-details .blog-details-breadcrumb {
  padding: 16px 0 48px 0;
}

.sw-pg-blog-details .blog-details-breadcrumb .breadcrumb-itm {
  display: flex;
  align-items: center;
  color: #A3A3A3;
}

.sw-pg-blog-details .blog-details-breadcrumb .breadcrumb-itm .breadcrumb-icon {
  margin: 0 10px;
}

.sw-pg-blog-details .blog-details-sc .blog-details-content .blog-d-img {
  padding: 12px 0;
}

.sw-pg-blog-details .blog-details-sc .blog-details-content .blog-d-img img {
  width: 100%;
}

.sw-pg-blog-details .blog-details-sc .blog-details-content .blog-d-body {
  padding: 24px 0;
}

.sw-pg-blog-details .blog-details-sc .blog-details-content .blog-d-body p {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.04em;
  color: #a2a2a2;
  text-align: justify;
  margin-bottom: 24px;
}

.sw-pg-blog-details .blog-details-sc .blog-details-content .blog-d-body a {
  text-decoration: underline;
  color: #0063B2;
}

.sw-pg-blog-details .blog-details-sc .blog-details-content .blog-d-body a:hover {
  opacity: 0.9;
}

.sw-pg-blog-details .blog-details-sc .blog-details-content .blog-d-body ul {
  margin-bottom: 20px !important;
  color: #a2a2a2;
  list-style-type: circle;
  margin-left: 20px !important;
}

.sw-pg-blog-details .blog-details-sc .blog-details-content .blog-d-body ul li {
  font-size: 19px;
  margin: 10px 0;
}

.sw-pg-blog-details .blog-details-sc .blog-details-content .blog-d-body .detail-itm .detail-itm-row img {
  width: auto;
}

.sw-pg-blog-details .blog-details-sc .blog-details-content .blog-d-body .detail-itm h1, .sw-pg-blog-details .blog-details-sc .blog-details-content .blog-d-body .detail-itm h2, .sw-pg-blog-details .blog-details-sc .blog-details-content .blog-d-body .detail-itm h3, .sw-pg-blog-details .blog-details-sc .blog-details-content .blog-d-body .detail-itm h4, .sw-pg-blog-details .blog-details-sc .blog-details-content .blog-d-body .detail-itm h5, .sw-pg-blog-details .blog-details-sc .blog-details-content .blog-d-body .detail-itm h6 {
  padding-left: 0;
  margin: 18px 0;
}

.sw-pg-blog-details .blog-details-sc .blog-itms-list .nav.nav-tabs {
  position: relative !important;
  width: 100%;
  border: 1px solid #eaeaea;
  border-bottom: none !important;
  min-width: 65px;
}

.sw-pg-blog-details .blog-details-sc .blog-itms-list .nav.nav-tabs button.nav-link {
  height: 100%;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.045em;
  background-color: transparent;
  border: none;
  color: #fff;
}

.sw-pg-blog-details .blog-details-sc .blog-itms-list .nav.nav-tabs button.nav-link.active {
  border-bottom: 2px solid #0063B2;
}

.sw-pg-blog-details .blog-details-sc .blog-itms-list .nav.nav-tabs button.nav-link:hover {
  opacity: 0.8;
}

@media (max-width: 767.99px) {
  .sw-pg-blog-details .blog-details-sc .blog-itms-list .nav.nav-tabs button.nav-link {
    font-size: 19px;
  }
}

@media (max-width: 575.99px) {
  .sw-pg-blog-details .blog-details-sc .blog-itms-list .nav.nav-tabs button.nav-link {
    font-size: 17px;
  }
}

@media (min-width: 992px) {
  .sw-pg-blog-details .blog-details-sc .blog-itms-list .nav.nav-tabs button {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .sw-pg-blog-details .blog-details-sc .blog-itms-list .nav.nav-tabs button {
    width: auto;
  }
}

.sw-pg-blog-details .blog-details-sc .blog-itms-list .tab-content {
  padding-top: 60px;
  border: 1px solid #EAEAEA;
  border-top: none !important;
}

.sw-pg-blog-details .blog-details-sc .blog-itms-list .tab-content .tab-pane {
  border-bottom: 1px solid #eaeaea;
}

.sw-pg-blog-details .blog-details-sc .blog-itms-list .tab-content .tab-pane .tab-pane-itm {
  padding: 12px 24px;
  border-bottom: 1px solid #EAEAEA;
}

.sw-pg-blog-details .blog-details-sc .blog-itms-list .tab-content .tab-pane .tab-pane-itm h3 {
  font-size: 20px !important;
  line-height: 1.6;
}

@media (max-width: 767.99px) {
  .sw-pg-blog-details .blog-details-sc .blog-itms-list .tab-content .tab-pane .tab-pane-itm h3 {
    font-size: 19px !important;
  }
}

@media (max-width: 575.99px) {
  .sw-pg-blog-details .blog-details-sc .blog-itms-list .tab-content .tab-pane .tab-pane-itm h3 {
    font-size: 16px !important;
  }
}

.sw-pg-blog-details .blog-details-sc .blog-itms-list .tab-content .tab-pane .tab-pane-itm .tab-pane-sn {
  margin-right: 10px;
}

@media (max-width: 767.99px) {
  .sw-pg-blog-details .blog-details-sc .blog-itms-list .tab-content {
    padding-top: 30px;
  }
}

.sw-pg-about .about-hero-wrapper {
  background: url("../../assets/images/pg-about/about-hero-img.png") center/cover no-repeat;
  min-height: 577px;
}

.sw-pg-about .about-hero-wrapper .about-hero-title h3 {
  letter-spacing: 0.225em;
  margin: 0 auto;
}

.sw-pg-about .about-itms .about-itm .about-itm-p {
  font-size: 17px;
  letter-spacing: 0.08em;
  text-align: justify;
  margin-bottom: 32px;
}

.sw-pg-about .about-itms .about-itm .about-block .about-block-itm {
  position: relative;
  margin: 8px;
}

.sw-pg-about .about-itms .about-itm .about-block .about-block-itm::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 300ms ease-in-out;
}

.sw-pg-about .about-itms .about-itm .about-block .about-block-itm:hover::after {
  background-color: rgba(0, 0, 0, 0.1);
}

.sw-pg-about .about-itms .about-itm .about-block .about-block-itm .about-block-itm-txt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  z-index: 3;
}

.sw-pg-about .about-itms .about-itm .about-block .about-block-l .about-block-itm {
  height: 438px;
}

.sw-pg-about .about-itms .about-itm .about-block .about-block-r .about-block-itm {
  height: 438px;
}

@media (min-width: 1400px) {
  .sw-pg-about .about-itms .about-itm .about-block .about-block-r .about-block-itm {
    height: 890px;
  }
}

.sw-pg-about .about-itms .about-itm .about-block {
  position: relative;
}

.sw-pg-about .about-itms .about-itm .about-block.video-block video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sw-pg-about .about-itms .about-itm .about-block #play-pause-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 300ms ease-in-out;
}

.sw-pg-about .about-itms .about-itm .about-block #play-pause-btn:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.sw-pg-contact .header {
  min-height: auto;
}

.sw-pg-contact .contact-hero-wrapper {
  background: url("../../assets/images/pg-contact/contact-hero-img.png") center/cover no-repeat;
  min-height: 419px;
}

.sw-pg-contact .contact-hero-wrapper .contact-hero-title p {
  letter-spacing: 0.1em;
}

.sw-pg-contact .contact-sc .contact-info-itms {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sw-pg-contact .contact-sc .contact-info-itms .contact-info-itm {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #eaeaea;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  width: 237px;
  height: 162px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin: 20px;
  transition: all 300ms ease-in-out;
}

.sw-pg-contact .contact-sc .contact-info-itms .contact-info-itm:hover {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.sw-pg-contact .contact-sc .contact-info-itms .contact-info-itm .contact-info-itm-icon {
  width: 80px;
  height: 80px;
}

.sw-pg-contact .contact-sc .contact-info-itms .contact-info-itm .contact-info-itm-txt {
  margin-top: 9px;
}

@media (min-width: 576px) {
  .sw-pg-contact .contact-sc .contact-info-itms {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .sw-pg-contact .contact-sc .contact-info-itms {
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
  }
}

.sw-pg-contact .contact-sc .contact-form {
  padding: 12px;
}

.sw-pg-contact .contact-sc .contact-form .contact-form-grid {
  border: 1px solid #eaeaea;
  padding: 80px 60px 64px 60px !important;
  border-radius: 8px;
}

@media (min-width: 1400px) {
  .sw-pg-contact .contact-sc .contact-form .contact-form-grid {
    padding-right: 80px !important;
    padding-left: 80px !important;
  }
}

@media (max-width: 767.99px) {
  .sw-pg-contact .contact-sc .contact-form .contact-form-grid {
    padding: 40px 30px 44px 30px !important;
  }
}

@media (max-width: 575.99px) {
  .sw-pg-contact .contact-sc .contact-form .contact-form-grid {
    padding: 20px 12px 20px 12px !important;
  }
}

@media (min-width: 992px) {
  .sw-pg-contact .contact-sc .contact-form {
    padding-top: 126px;
  }
}

.sw-pg-contact .contact-sc .contact-form .contact-form-title h3 {
  letter-spacing: 0.225em;
  text-transform: uppercase;
}

.sw-pg-contact .contact-sc .contact-form .form-label {
  letter-spacing: 0.225em;
}

@media (max-width: 575.99px) {
  .sw-pg-contact .contact-sc .contact-form .form-label {
    font-size: 16px;
  }
}

.sw-pg-contact .contact-sc .contact-form .form-control {
  color: #eaeaea;
  font-size: 16px;
}

.sw-pg-contact .contact-sc .contact-form .contact-form-l .form-elem {
  margin-bottom: 30px;
}

.sw-pg-contact .contact-sc .contact-form .contact-form-l .form-elem .input-group {
  border: 1px solid #eaeaea;
  height: 56px;
  border-radius: 4px;
}

.sw-pg-contact .contact-sc .contact-form .contact-form-r textarea {
  border: 1px solid #eaeaea;
  min-height: 320px;
  padding: 24px;
}

.sw-pg-contact .contact-sc .contact-form .contact-form-btn {
  margin-top: 40px;
}

.sw-pg-contact .contact-sc .contact-form .contact-form-btn .btn-submit {
  background-color: #eaeaea;
  height: 68px;
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  border: 1px solid #eaeaea;
  transition: all 300ms ease-in-out;
}

.sw-pg-contact .contact-sc .contact-form .contact-form-btn .btn-submit:hover {
  background-color: transparent;
  color: #eaeaea;
}

@media (max-width: 575.99px) {
  .sw-pg-contact .contact-sc .contact-form .contact-form-btn .btn-submit {
    font-size: 20px;
    height: 54px;
  }
}
/*# sourceMappingURL=main.css.map */