.ftr{
    padding-top: 24px;
    margin-top: 40px;
    .social-links{
        ul {
            li{
                margin-right: 6px;
            }
        }
    }
    .nav-links{
        a{
            &:hover{
                @include opacity(0.8);
                text-decoration: underline;
            }
        }
    }
    .ftr-content{
        .ftr-item{
            margin-bottom: 36px;
        }
    }
    .ftr-text{
        padding: 18px 0;
        border-top: 1px solid $clr-white;
    }
}