.header{
    min-height: 100vh;

    .header-content{
        @include fmh-calc-sub(120px);
        .header-title{
            margin-top: 0;
            &-text{
                margin-left: 25px;
            }

            &-img{
                max-width: 382px;
            }

            @include breakpoint-down(sm){
                &-img{
                    width: 200px;
                }
            }
            
        }
        .text-before-h-title{
            letter-spacing: 0.09em;
            margin-top: 6px;
        }
        .text-after-h-title{
            letter-spacing: 0.065em;
        }
        .header-btn{
            margin-top: 28px;
        }
        .header-list{
            margin-top: 22px!important;
            li{
                line-height: 24px;
                margin-bottom: 6px;
            }
        }
        
        .header-r{
            img{
                max-width: 640px;
            }
        }
    }
}

