.navbar{
    min-height: 120px;
    .navbar-toggler-icon{
        filter: invert(100%);
    }

    .navbar-collapse{
        .navbar-nav{
            .nav-item{
                margin-right: 24px;
                &:last-child{
                    margin-right: 0;
                }
                .nav-link{
                    font-weight: 500;
                    @include font-size(17px);
                    text-transform: uppercase;
                    @include transition-ease;

                    &:hover{
                        opacity: 0.9;
                    }
                }
            }
        }
        .navbar-btns{
            .navbar-btn{
                &.btn-secondary{
                    min-width: 112px;
                    height: 44px;
                    border-radius: 0!important;
                    .btn-text{
                        margin-left: 12px;
                    }
                }
            }
        }

        @include breakpoint-down(lg){
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 999;
            background-color: $clr-white;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

            .navbar-nav{
                padding-top: 20px;

                .nav-item{
                    text-align: center!important;
                    margin-right: 0!important;
                }
                .nav-link{
                    color: $clr-nero!important;
                    padding: 12px 0;

                    &:hover{
                        transform: scale(1.1);
                    }
                }
                
            }

            .navbar-btns{
                padding: 16px 0 40px 0;
                display: flex;
                justify-content: center;
            }
        }
    }
}