.sw-pg-contact{
    .header{
        min-height: auto;
    }
    .contact-hero-wrapper{
        background: url("../../assets/images/pg-contact/contact-hero-img.png") center/cover no-repeat;
        min-height: 419px;

        .contact-hero-title{
            p{
                letter-spacing: 0.1em;
            }
        }
    }

    .contact-sc{
        .contact-info-itms{
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .contact-info-itm{
                @include bgColor(rgba(255, 255, 255, 0.1));
                border: border(#eaeaea);
                backdrop-filter: blur(8px);
                -webkit-backdrop-filter: blur(8px);
                @include size(237px, 162px);
                flex-direction: column;
                @include flex-center;
                @include border-radius(8px);
                margin: 20px;
                @include transition-ease;

                &:hover{
                    backdrop-filter: blur(2px);
                    -webkit-backdrop-filter: blur(2px);
                }

                .contact-info-itm-icon{
                    @include size(80px);
                }

                .contact-info-itm-txt{
                    margin-top: 9px;
                }
            }

            @include breakpoint-up(sm){
                flex-direction: row;
                flex-wrap: wrap;
            }

            @include breakpoint-up(lg){
                position: absolute;
                transform: translateY(-50%);
                left: 0;
                width: 100%;
            }
            
            
        }

        .contact-form{
            padding: 12px;
            .contact-form-grid{
                border: border(#eaeaea);
                padding: 80px 60px 64px 60px!important;
                @include border-radius(8px);

                @include breakpoint-up(xxl){
                    padding-right: 80px!important;
                    padding-left: 80px!important;
                }

                @include breakpoint-down(md){
                    padding: 40px 30px 44px 30px!important;
                }

                @include breakpoint-down(sm){
                    padding: 20px 12px 20px 12px!important;
                }
            }

            @include breakpoint-up(lg){
                padding-top: 126px;
            }

            .contact-form-title{
                h3{
                    letter-spacing: 0.225em;
                    text-transform: uppercase;
                }
            }

            .form-label{
                letter-spacing: 0.225em;

                @include breakpoint-down(sm){
                    font-size: 16px;
                }
            }

            .form-control{
                color: $clr-bright-gray;
                font-size: 16px;
            }

            .contact-form-l{
                .form-elem{
                    margin-bottom: 30px;

                    .input-group{
                        border: border(#eaeaea);
                        height: 56px;
                        @include border-radius(4px);
                    }
                }
            }

            .contact-form-r{
                textarea{
                    border: border(#eaeaea);
                    min-height: 320px;
                    padding: 24px;
                }
            }
            .contact-form-btn{
                margin-top: 40px;
                .btn-submit{
                    @include bgColor(#eaeaea);
                    height: 68px;
                    text-align: center;
                    font-weight: 500;
                    font-size: 26px;
                    border: border(#eaeaea);
                    @include transition-ease;
                    &:hover{
                        @include transparent;
                        color: $clr-bright-gray;
                    }

                    @include breakpoint-down(sm){
                        font-size: 20px;
                        height: 54px;
                    }
                }
            }
        }
    }
}