body{
    overflow-x: hidden!important;
}

.product-sc{
    .product-sc-content{
        .sw-cards{
            .sw-card{
                margin-bottom: 40px;

                &:hover{
                    transform: scale(1.04);
                }
            }
    
            > div{
    
                @include breakpoint-up(lg){
                    &:nth-child(odd){
                        padding-right: 20px;
                    }
                    &:nth-child(even){
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}

.explore-sc{
    margin-bottom: 44px;
}